@font-face {
	font-family: "Amienne";
	src: url("file:///E:/Dev/Exercice%20Mon%20Panier%20Frais/assets/fonts/Amienne%20Regular.ttf")
}
* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	color: #8BC74F;
}
#nav {
	background-color: #8BC74F;
}
#logo {
	position:fixed;
	top:0;
	z-index: 2;	
}
#banner {
	object-fit: contain;
	max-width: 100%;
	height: auto;
}
h2 {
	font-family: "Amienne";
	font-size: 4em;
	text-shadow: 5px 3px 8px grey;
}
#gallery {
	background-image: url("file:///E:/Dev/Exercice%20Mon%20Panier%20Frais/assets/images/bg_gallery.jpg");
	background-size: cover;

}

#gallery img {
	object-fit: contain;
}
h5, .btn-primary, .nav-item {
	background-color: rgba(0,0,0,0.75);
	color: grey;
	text-transform: uppercase;
}
h5 {
	font-size: 1em;
	padding-left: 10px;
}
.btn-primary {
	font-size: 1.2em;
	font-weight: bold;
}
.btn-primary:hover {
	background-color: #8BC74F;
}
#footer {
	background-color: #3e3e3e;
}
i {
	float: right;
}
.active {
  color: #8BC74F;
}
@media screen and (max-width: 1024px) {
	#logo {
		max-width: 100px;
		left: 45%;
	}
	#gallery {
		background-size: contain;
	}
}